:root {
  --oi-main-fontstack: "Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  --oi-title-fontstack: Poppins,"Helvetica Neue",Arial Black;
}
html, body {
	padding: 0px;
	margin: 0px;
	min-height: 100%!important;
	height: 100%!important;
	background-color: #ffffff;
	font-family: var(--oi-main-fontstack);
	color: #333;
	line-height: 1.44em;
}
a { color: #18AD87; text-decoration: underline; }
a:hover, a:focus { text-decoration: underline; }
a:visited { color: inherit; }
h1, h2, h3, h4, .title, .subtitle { font-family: var(--oi-title-fontstack); line-height: 1em; }
h1 + *, h2 + *, h3 + *, p + *, iframe + *, figure + *, ul + *, ol + *, .block + *, .padded-bottom + * { margin-top: 1rem; }
h1, .title { font-size: 2em; margin-top: 2rem; font-weight: 600; }
h2 { font-size: 1.7em; margin-top: 2rem; font-weight: 500; }
h3 { font-size: 1.4em; margin-top: 2rem; }
h1:first-child, h2:first-child, h3:first-child, .title { margin-top: 0; }
* > *:first-child { margin-top: 0; }
strong { font-weight: 700; }
em { font-style: italic; }
p, time, li, td, th, footer, div { font-weight: 300; }
code, pre { font-family: monospace; color: #444; background-color: #efefef; }
code { padding: 0.125em 0.25em; }
pre { max-width: 100%; overflow-x: auto; padding: 16px; margin-bottom: 16px; }
pre code { padding: 0; }
ul { list-style: disc; }
ol { list-style: decimal; }
ul { padding: 0; margin-left: 2em; }
section { padding: 2em 0; }
button, .button { border: 0px; font-size: 1em; background-color: #efefef; color: black; text-decoration: none; display: inline-block; padding: 0.5em 1em; cursor: pointer; vertical-align: top; line-height: 1.25em; }
a.button:hover, button:hover, button:focus, a.button:focus { background-color: #333333!important; color: #efefef!important; }

header h1 { margin-top: 0; }
header nav ul {
	width: min-content;
	text-align: center;
	margin: 0 auto;
	font-size: 1.2em;
	position: relative;
	font-family: font-family: var(--oi-title-fontstack);
	display: flex;
}
header nav ul li { display: inline-block; }
header nav ul > li > a { padding: 0.5em 1em; display: inline-block; width: 100%; color: inherit; font-family: var(--oi-title-fontstack); }
header nav ul > li > a:hover, header nav ul > li > a:focus,header nav ul > li > a[aria-selected=true] { background: white; color: black; }
header a { text-decoration: none; }
footer { width: 100%; padding-bottom: 3em; }
footer a { color: inherit; }
footer > div { display: flex; gap: 1rem; }
footer > div > div {  flex-grow: 1; }
footer > div > div:last-child { text-align: right; }

/* Some common styling classes */
.holder { position: relative; width: 1080px; max-width: 100%; margin: auto; }
.holder.padded > *:last-child { margin-bottom: 0; }
.padded { padding: 1em; }
.padded-bottom { padding: 1em; margin-bottom: 1em; }
.doublepadded { padding: 2em; }
.spaced { margin-bottom: 1em; }
.centred { text-align: center; }
.tallpadded { padding-block: 3em; }

.skip-to-content-link { position: absolute; top: -3rem; right: 0.5rem; z-index: 2000; transition: top 0.3s; padding: 0.5rem 1rem; }
.skip-to-content-link:focus { top: 0.25rem; }

.grid { display: grid; grid-template-columns: repeat(2,1fr); grid-gap: 1em; }
.grid .pane { background: #f9f9f9; }

@media only screen and (max-width: 1080px) {
	.grid { grid-template-columns: 100%; }
}

@media only screen and (max-width: 800px) {
	.doublepadded { padding: 1em; }
	.tallpadded { padding-block: 2rem; }
	footer > div { display: block; }
	footer > div > div { margin-bottom: 1rem; }
	footer > div > div:last-child { text-align: inherit; margin-bottom: 0; }
}