/* Main colour palette */
:root .c1-bg, :root a.c1-bg:visited { background-color: #2254F4; color: white; }
:root .c2-bg, :root a.c2-bg:visited { background-color: #178CFF; color: black; }
:root .c3-bg, :root a.c3-bg:visited { background-color: #00B6FF; color: black; }
:root .c4-bg, :root a.c4-bg:visited { background-color: #08DEF9; color: black; }
:root .c5-bg, :root a.c5-bg:visited { background-color: #1DD3A7; color: black; }
:root .c6-bg, :root a.c6-bg:visited { background-color: #0DBC37; color: black; }
:root .c7-bg, :root a.c7-bg:visited { background-color: #67E767; color: black; }
:root .c8-bg, :root a.c8-bg:visited { background-color: #722EA5; color: white; }
:root .c9-bg, :root a.c9-bg:visited { background-color: #E6007C; color: white; }
:root .c10-bg, :root a.c10-bg:visited { background-color: #EF3AAB; color: black; }
:root .c11-bg, :root a.c11-bg:visited { background-color: #D73058; color: white; }
:root .c12-bg, :root a.c12-bg:visited { background-color: #D60303; color: white; }
:root .c13-bg, :root a.c13-bg:visited { background-color: #FF6700; color: black; }
:root .c14-bg, :root a.c14-bg:visited { background-color: #F9BC26; color: black; }

/* Secondary palette */
:root .s1-bg, :root a.s1-bg:visited { background-color: #2f529f; color: white; }
:root .s2-bg, :root a.s2-bg:visited { background-color: #00ace8; color: black; }
:root .s3-bg, :root a.s3-bg:visited { background-color: #7dc5ea; color: black; }

/* Greyscale */
:root .b1-bg, :root a.b1-bg:visited { background-color: #000000; color: white; }
:root .b2-bg, :root a.b2-bg:visited { background-color: #333333; color: white; }
:root .bk-bg, :root a.bk-bg:visited { background-color: #6D6D6D; color: white; }
:root .b3-bg, :root a.b3-bg:visited { background-color: #999999; color: black; }
:root .b4-bg, :root a.b4-bg:visited { background-color: #bbbbbb; color: black; }
:root .b5-bg, :root a.b5-bg:visited { background-color: #dfdfdf; color: black; }
:root .b6-bg, :root a.b6-bg:visited { background-color: #ffffff; color: black; }

/* Hover/focus styles */
:root a.c1-bg:hover, :root a.c2-bg:hover, :root a.c3-bg:hover, :root a.c4-bg:hover, :root a.c5-bg:hover, :root a.c6-bg:hover, :root a.c7-bg:hover, :root a.c8-bg:hover, :root a.c9-bg:hover, :root a.c10-bg:hover, :root a.c11-bg:hover, :root a.c12-bg:hover, :root a.c13-bg:hover, :root a.c14-bg:hover,
:root a.b1-bg:hover, :root a.b2-bg:hover, :root a.b3-bg:hover, :root a.b4-bg:hover, :root a.b5-bg:hover, :root a.b6-bg:hover,
:root a.s1-bg:hover, :root a.s2-bg:hover, :root a.s3-bg:hover,
:root a.c1-bg:focus, :root a.c2-bg:focus, :root a.c3-bg:focus, :root a.c4-bg:focus, :root a.c5-bg:focus, :root a.c6-bg:focus, :root a.c7-bg:focus, :root a.c8-bg:focus, :root a.c9-bg:focus, :root a.c10-bg:focus, :root a.c11-bg:focus, :root a.c12-bg:focus, :root a.c13-bg:focus, :root a.c14-bg:focus,
:root a.b1-bg:focus, :root a.b2-bg:focus, :root a.b3-bg:focus, :root a.b4-bg:focus, :root a.b5-bg:focus, :root a.b6-bg:focus,
:root a.s1-bg:focus, :root a.s2-bg:focus, :root a.s3-bg:focus { background-color: #000000; color: white; }
:root .c1-bg a, :root .c2-bg a, :root .c3-bg a, :root .c4-bg a, :root .c5-bg a, :root .c6-bg a, :root .c7-bg a, :root .c8-bg a, :root .c9-bg a, :root .c10-bg a, :root .c11-bg a, :root .c12-bg a, :root .c13-bg a, :root .c14-bg a, :root .b1-bg a, :root .b2-bg a, :root .b3-bg a, :root .b4-bg a, :root .b5-bg a, :root .b6-bg a, :root .b6-bg a{ color: inherit; }

.warning { color: rgb(95, 82, 7); background-color: rgb(251, 245, 208); filter: drop-shadow(0px 0px 1px rgb(95, 82, 7)); }
.error { color: #721c24; background-color: #f8d7da; filter: drop-shadow(0 0 1px #f5c6cb)); }